
<div>
  <div class="week">
    <div class="day">
        <ng-container class="col-sm-12 my-auto" *ngFor="let monday of mondays; let idx = index">
            <div class="day-name ">Lundi </div>
            <div class="cardmonday " >
              <div class="card-body ">
          <p class=" text-color">{{monday.name}}</p>
          <p class="text-color">{{monday.hours}}</p>
          <button [routerLink]="['/billetterie', monday.id]" class="btn btn-danger btn-sm mr-2" type="bouton" >Je réserve {{ selectedValue }}</button>
    </div>
            </div>
            </ng-container>
            <div class="day">
                <ng-container class="col-sm-12 my-auto" *ngFor="let tuesday of tuesdays; let idx = index">
                    <div class="day-name ">Mardi </div>
                    <div class="cardmonday " >
                      <div class="card-body ">
                  <p class=" text-color">{{tuesday.name}}</p>
                  <p class="text-color">{{tuesday.hours}}</p>
                  <button [routerLink]="['/billetterie', tuesday.id]" class="btn btn-danger btn-sm mr-2" type="bouton" >Je réserve</button>
            </div>
                    </div>
                    </ng-container>
    <div class="day">
      <div class="day-name">Mercredi</div>
      <div class="day-num"></div>
    </div>
    <div class="day">
      <div class="day-name">Jeudi</div>
      <div class="day-num"></div>
    </div>
    <div class="day">
      <div class="day-name">Vendredi</div>
      <div class="day-num"></div>
    </div>
    <div class="day">
      <div class="day-name">Samedi</div>
      <div class="day-num last"></div>
    </div>
    <div class="day">
      <div class="day-name">Dimanche</div>
      <div class="day-num last"></div>
    </div>
  </div>
</div>