<h1 class="title">Planning</h1>
<div class="container-fluid plannings-bloc">
  <div class="row offset-2">
    <ng-container class="col-md-4 col-sm-12" *ngFor="let planning of plannings; let idx = index">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-color">{{planning.name}}</h5>
          <p class="card-text text-color">{{planning.state}}</p>
          <p class="card-text text-color">{{planning.hours}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>

