.card{
    margin-left:100px;
    margin-top:50px;
    width:200px;
    height: 350px;
}
.card-title{
    margin-left: 80px;
}
.card-body{
    background-image: url('/assets/images/Red.jpg');
    border: 0px;
}
*, ::after, ::before{
    border:none;
}