.card{
    margin-left:100px;
    margin-top:50px;
    width:200px;
    height: 350px;
}
.card-title{
    margin-left: 40px;
}
.card-body{
    background-image: url('/assets/images/Red.jpg');
    border: 0px;
}
*, ::after, ::before{
    border:none;
}

h5{
    color:#DF6B10;
    font-family: 'Rubik Mono One', sans-serif;
}
p {
    color:#F9A805;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
}