<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
  <div class="container">
    <div class="row w-100">
        <ul class="navbar-nav mt-2 mt-lg-0">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <li class="nav-item">
          <a [routerLink]="['']" class="btn" id="accueil">Accueil</a>
        </li>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <li class="nav-item">
          <a [routerLink]="['actu']" class="btn" id="actu">Actualités</a>
        </li>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
          <li class="nav-item">
        <a [routerLink]="['planning']" class="btn" id="planning">Planning</a>
      </li>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <li class="nav-item">
          <a [routerLink]="['billet']" class="btn" id="billet">Billeterie</a>
        </li>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <li class="nav-item">
          <a [routerLink]="['admin']" class="btn" id="admin">Admin</a>
        </li>
      
      </div>
        </ul>
    </div>
  </div>
</nav>
