.navbar-nav  {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: 280px;
    font-family: 'Libre Baskerville', serif;
    

  }


a{
  color:white;
}

.btn:focus{
  background-color:#F9A805;
}
.btn:hover{
  background-color:#F9A805;
}