<h1>Compte Utilisateussr</h1>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="container-fluid modal-body">
    <div class="row fenetre-login">
      <img src="/assets/image/login.jpg" class="col-7" />
      <div class="col-5">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="close(content)"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-basic-title">Connexion</h4>
        <p class="pt-4">Identifiant :</p>
        <input
          type="text"
          name="email"
          #mail="ngModel"
          [ngModel]
          required
          email
        />
        <div *ngIf="mail.errors && f.submitted">
          <span class="text-danger text-center" *ngIf="mail.errors.required"
            >Le champs "Email" est requis</span
          >
        </div>
        <p class="pt-4">Mot de passe :</p>
        <input type="password" name="password" #password="ngModel" [ngModel] required />
        <div *ngIf="password.errors && f.submitted">
          <span class="text-danger text-center" *ngIf="password.errors.required"
            >Le champs "Mot de passe" est requis</span
          >
        </div>
        <div d-flex justify-content-center>
          <button class="btn btn-outline-primary login-btn" type="submit">
            connexion
          </button>
          <button
            class="mdp-oublie btn btn-outline-success"
            type="button"
            (click)="hiddenForm()"
          >
            mot de passe oublié ?
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
